<h1>Inspiration</h1>
<p>
    We wanted a tool to help with crafting.
</p>
<p>
    <a href="http://www.ffxivcrafting.com/">FFXIV Crafting</a> is <em>so close</em>, but not quite.
    The more we use it, the more we find the features we were looking for.
    Nevertheless, there are still a few features that it lacks, so we have something to add.
    Who knows, maybe we can become a rival.
</p>
<p>
    <a href="http://www.garlandtools.org/db/#">Garland Tools</a> is incredibly useful, but it's just a raw database.
    It's good for quick fact checking, but not for a <em>Crafting Adventure</em>.
</p>
<p>
    <a href="http://ff14angler.com/fish/10">Fishing</a> is cooooomplicated.
    Crafting may not be <em>that</em> complicated, but some book keeping is necessary.
</p>

<h1>Recent News</h1>
<h2>Beta on Heroku!</h2>
<p>
    I mean... this is probably how you are viewing the page, but it's still a notable milestone.
    The UI isn't all that pretty, but it's a start.
</p>
<p>
    The first goal is to race development into something that useful to the developers.
    Since we've reached that point, we wanted to make the page available to others.
    There is still a little more to be done on this front before we can call it a success.
</p>
<p>
    The second goal will be to improve the UI to make it pretty.
    It needs to be more intuitive. The layout and styling is still very much much looks like "programmer art."
    Not to say there will ever be art per se, but the ui itself is somewhat of an art form.
</p>
<p>
    After that, who knows?! The possibilities are endless.
    We are thinking of some nice-to-haves, and more perspectives for finding recipes.
</p>

<h1>Mentions and Resources</h1>
<p>
    <a href="http://na.finalfantasyxiv.com/lodestone/playguide/db/recipe/" target="_blank">Lodestone</a>
    for basically everything.
</p>
<p>
    <a href="http://www.ffxivcrafting.com/" target="_blank">FFXIV Crafting</a>
    for giving us the spark of our idea.
</p>
<p>
    <a href="http://ffxiv.consolegameswiki.com/wiki/" target="_blank">Final Fantasy XIV Online Community Wiki</a>
    for mining and botanist locations.
</p>
<p>
    <a href="http://ffxiv.gamerescape.com/wiki/" target="_blank">Gamer Escape's Final Fantasy XIV (FFXIV, FF14) wiki</a>
    icons and mob levels.
</p>
