<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Crafter Life</a>
        </div>
        <ul class="nav navbar-nav">
            <li data-ng-class="{'active': page.isActive('/recipes')}"><a href="#/recipes">Recipes</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li data-ng-class="{'active': page.isActive('/life/list')}"><a href="#/life/list">Your List</a></li>
            <li data-ng-class="{'active': page.isActive('/life/craft')}"><a href="#/life/craft">Your Adventure</a></li>
            <li class="dropdown" data-ng-class="{'active': false}">
                <a class="dropdown-toggle" data-toggle="dropdown">More <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#/settings">Settings</a></li>
                    <li><a href="#/about">About</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>