<section>
    <header><h2>Preferences</h2></header>

    <div class="form-group">
        <label for="theme">Theme</label>
        <select class="form-control" id="theme" ng-model="page.theme"
                ng-options="t for t in settings.themes" ng-change="settings.saveTheme()"></select>
    </div>
</section>


<section class="saved-adventures">
    <header><h2>Saved Adventures</h2></header>

    <div class="row">
        <div class="col-xs-4"><p class="form-control-static">current</p></div>
        <div class="col-xs-4"><p class="form-control-static">
            <span>Goals: <span ng-bind="settings.current.goalCount"></span></span>
        </p></div>
        <div class="col-xs-4">
            <button class="btn btn-default" title="Save adventure locally (in browser)." ng-click="settings.current.save()"><i class="fa fa-fw fa-download"></i></button>
            <button class="btn btn-default" title="Save adventure to your device." ng-click="settings.current.download()" ng-disabled="!settings.canUpload"><i class="fa fa-fw fa-cloud-download"></i></button>
            <button class="btn btn-default" title="Load adventure from your device." ng-click="settings.current.upload()" ng-disabled="!settings.canUpload"><i class="fa fa-fw fa-cloud-upload"></i></button>
            <button class="btn btn-danger" title="Clear adventure." ng-click="settings.current.delete()"><i class="fa fa-fw fa-trash"></i></button>
        </div>
    </div>

    <div class="row" ng-repeat="item in settings.savedCraftList track by item.date">
        <div class="col-xs-4"><input class="form-control" ng-model="item.name" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" ng-change="settings.list.update()" /></div>
        <div class="col-xs-4"><p class="form-control-static">
            <span>Goals: <span ng-bind="item.data.goals.length"></span></span>
        </p></div>
        <div class="col-xs-4">
            <button class="btn btn-default" title="Restore adventure." ng-click="settings.list.load(item)"><i class="fa fa-fw fa-upload"></i></button>
            <button class="btn btn-default" title="Save adventure to your device." ng-click="settings.list.download(item)" ng-disabled="!settings.canUpload"><i class="fa fa-fw fa-cloud-download"></i></button>
            <button class="btn btn-default" title="Load adventure from your device." ng-click="settings.list.upload(item)" ng-disabled="!settings.canUpload"><i class="fa fa-fw fa-cloud-upload"></i></button>
            <button class="btn btn-default" title="Copy adventure locally (in browser)." ng-click="settings.list.copy(item)"><i class="fa fa-fw fa-clone"></i></button>
            <button class="btn btn-danger" title="Delete adventure." ng-click="settings.list.delete(item)"><i class="fa fa-fw fa-trash"></i></button>
        </div>
    </div>
</section>

<section>
    <header><h2>Data Reset</h2></header>
    <button class="btn btn-danger" ng-click="settings.clearSavedAdventures()">Clear Saved Adventures</button>
    <button class="btn btn-danger" ng-click="settings.clearAllSavedData()">Clear All User Data</button>
</section>
