<p>
    Find some <a href="#/recipes">recipes</a>,
    add some things to <a href="#/life/list">your list</a>,
    and start your <a href="#/life/craft">crafting adventure</a>.
</p>

<p>
    <span><span ng-bind="home.jobStats.count"></span> Jobs!</span><br/>
    <span><span ng-bind="home.jobStats.handCount"></span> Crafting Classes!</span><br/>
    <span><span ng-bind="home.jobStats.landCount"></span> Gathering Classes!</span><br/>
    <span><span ng-bind="home.recipe_count"></span> Recipes!</span><br/>
    <span><span ng-bind="home.item_count"></span> Items for recipes!</span><br/>
</p>
