<div class="jumbotron" ng-hide="itemSelectionCount">
    <h1><i class="fa fa-optin-monster"></i> Waiting for<span class="glados"> <span ng-bind="randomJumbotronNoun"></span></span></h1>
    <p>There's nothing in your list.</p>
    <p>Why not check out the <a href="#/recipes">recipe list</a>.</p>
</div>

<table class="table" ng-show="itemSelectionCount">
    <thead><tr>
        <th>Item Name</th>
        <th>Job Req</th>
        <th>Count</th>
        <th></th>
    </tr></thead>
    <tbody><tr ng-repeat="selection in itemSelections | orderBy : 'name'">
        <td><p class="form-control-static" ng-bind="itemCache[selection.lodestoneId].name"></p></td>
        <td><p class="form-control-static">
            <span ng-repeat="j in itemCache[selection.lodestoneId].recipe.jobs" job-level="j"></span>
            <span ng-repeat="g in itemCache[selection.lodestoneId].gather" job-level="g"></span>
        </p></td>
        <td><input type="number" class="form-control" min="0" ng-model="selection.count" ng-change="saveList()" /></td>
        <td>
            <button class="btn btn-danger" ng-click="deleteFromList(selection)" title="Delete {{itemCache[selection.lodestoneId].name}} from Your List"><i class="fa fa-fw fa-trash"></i></button>
            <a class="btn btn-default" href="#/life/craft" ng-click="setCraftList(selection)" title="Adventure for {{selection.count}} of {{itemCache[selection.lodestoneId].name}}"><i class="fa fa-fw fa-arrow-right"></i></a>
        </td>
    </tr></tbody>
</table>

<div ng-show="itemSelectionCount" align="right">
    <span><span ng-bind="itemSelectionCount"></span> Recipes, <span ng-bind="itemSelectionSum"></span> Total</span>
    <a class="btn btn-default" href="#/recipes">More Recipes</a>
    <button class="btn btn-danger" ng-click="clearList()" title="Delete all {{itemSelectionCount}} items from Your List">Clear List</button>
    <a class="btn btn-default" href="#/life/craft" ng-click="setCraftList()" title="Adventure for ALL the items! Pick up from where you left off.">Continue your Adventure</a>
    <a class="btn btn-primary" href="#/life/craft" ng-click="newAdventure()" title="Adventure for ALL the items! Start fresh.">Start a new Adventure</a>
</div>
