<!doctype html>
<html ng-app="crafter_life" ng-controller="crafter_life.page.controller as page">
<head>
    <title>Crafter Life</title>
    <link rel="shortcut icon" type="image/png" href="./static/img/Player33_Icon.png"/>

    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" ng-href="/vendor/bootswatch/{{page.theme}}/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="container">
    <ng-include src="'/page/pageHeading.html'"></ng-include>

    <ng-view></ng-view>

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>
    <script src="/vendor/angular-animate/angular-animate.min.js"></script>
    <script src="/vendor/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="/index.js"></script>
</body>
</html>