<div class="jumbotron">
    <h1><i class="fa fa-ambulance fa-spin text-danger"></i> Oops</h1>
    <p>We messed up our links.</p>
    <p>Why not check out the <a href="#/recipes">recipe list</a>.</p>
</div>