.search-result.ng-enter,
.search-result.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    -moz-transition: 400ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    -o-transition: 400ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    transition: 400ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    position: relative;
    display: block;
}

.search-result.ng-enter.ng-enter-active,
.search-result.ng-leave {
    opacity: 1;
    right: 0;
    height: 30px;
}

.search-result.ng-leave.ng-leave-active,
.search-result.ng-enter {
    opacity: 0;
    right: -50px;
    height: 0;
}
