@import url("search-item.css");
@import url("augmentations.css");

.glados {
    font-family: monospace;
}

.jobIcon {
    height: 1.5em;
    margin-top: -0.2em;
}

[job-level] {
    white-space: nowrap;
    display: inline-block;
}

.form-inline input.form-control[type="number"] {
    width: 5em;
}

[selected-item] section > header > h2 {
    font-size: 1em;
    margin: 0.5em 0;
}
[selected-item] div.panel-body {
    padding: 0.5em 1em 1em 1em;
}
[selected-item] section+section {
    margin-top: 1em;
}
[selected-item] .table {
    margin-bottom: 0;
}

.table.collapsible>thead>tr>th.title {
    font-size: 1.4em;
    font-weight: normal;
}
.table.collapsible>thead>tr>th {
    vertical-align: middle;
}

/* how do we get this to respond to the current style? */
.saved-adventures .row {
    margin-bottom: 5px; /* row spacing to match button spacing */
}
.saved-adventures .form-control-static {
    padding-left: 12px; /* line up text with form-control */
}