<img class="jobIcon" ng-src="static/img/jobs/{{model.job}}.png" />
<span ng-if="model.level" ng-bind="model.level"></span>
<span ng-if="model.minLevel" ng-bind="model.minLevel"></span><span ng-if="model.minLevel !== model.maxLevel">-<span ng-bind="model.maxLevel"></span></span>
