<div class="form-group has-feedback">
    <div class="input-group">
        <div class="input-group-addon" title="text search" ng-click="itemFormModel.nameType='fuzzy'">
            <span class="fa fa-fw fa-font" ng-class="{'text-primary':(itemFormModel.nameType==='fuzzy')}"></span>
        </div>
        <div class="input-group-addon" title="regular expression" ng-click="itemFormModel.nameType='regex'">
            <span class="fa fa-fw fa-asterisk" ng-class="{'text-primary':(itemFormModel.nameType==='regex')}"></span>
        </div>

        <input type="search" class="form-control" placeholder="Recipe Name"
               ng-model="itemFormModel.name" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }">
        <span class="fa form-control-feedback text-muted" ng-class="search.status.isSearching?'fa-refresh fa-spin':'fa-search'"></span>
    </div>
</div>

<div search-messages="search"></div>


<div ng-show="search.hasResults()">
<p ng-repeat="item in search.results.list | orderBy : ['-$rank', 'name']" class="search-result">
    <span ng-switch="getItemListCount(item)">
        <button ng-switch-when="null" title="Add to Your List"
                class="btn btn-xs btn-primary" ng-click="addToItemList(item)"><i class="fa fa-fw fa-plus"></i></button>
        <button ng-switch-when="1" title="In Your List"
                class="btn btn-xs btn-success" ng-click="addToItemList(item)"><i class="fa fa-fw fa-check"></i></button>
        <button ng-switch-default title="Multiple in Your List"
                class="btn btn-xs btn-success" ng-click="addToItemList(item)"><b class="fa fa-fw" ng-bind="getItemListCount(item)"></b></button>
    </span>
    <span ng-bind="item.name"></span>
    <span ng-repeat="j in item.recipe.jobs" job-level="j"></span>
    <span ng-repeat="g in item.gather" job-level="g"></span>
</p>
</div>
