<div class="jumbotron" ng-show="noCurrent">
    <h1><i class="fa fa-bomb"></i> No Adventure</h1>
    <p>You haven't started a crafting adventure.</p>

    <div ng-hide="hasRecipes">
        <p>First you need to find some <a href="#/recipes">recipes</a>.</p>
        <p>Then you need to review <a href="#/life/list">your list</a>.</p>
    </div>

    <div ng-show="hasRecipes">
        <p>You've already found some <a href="#/recipes">recipes</a>.</p>
        <p>Review <a href="#/life/list">your list</a> and let's get started!.</p>
    </div>
</div>
<div class="jumbotron" ng-hide="levelReqs.length || noCurrent || !dag" align="center">
    <h1><i class="fa fa-fort-awesome"></i> You Crafted!</h1>
</div>

<div class="row" ng-hide="noCurrent">
    <div class="col-md-7">
        <p ng-show="levelReqs.length">
            <label>Requirements</label>
            <span ng-repeat="j in levelReqs"><span job-level="j"></span><span ng-if="j.job==='BUY'">g</span></span>
        </p>

        <!-- don't use tables for layouts unless they are tabular data -->
        <table class="table collapsible">
            <thead><tr class="info">
                <th class="min-width">
                    <button class="btn btn-xs btn-default" ng-click="sectionStandardOpen = !sectionStandardOpen">
                        <i class="fa fa-fw" ng-class="{'fa-chevron-down': sectionStandardOpen, 'fa-chevron-right': !sectionStandardOpen}"></i>
                    </button>
                </th>
                <th class="min-width title">Shards</th>
                <th colspan="4"></th>
                <th class="min-width"></th>
            </tr></thead>
            <tbody ng-show="sectionStandardOpen"><tr
                    ng-repeat="dagItem in dag.list | filter:{gatherable:true,standard:true} | orderBy: 'name'"
                    tr-dag-item data-dag-item="dagItem" data-item="items[dagItem.id]">
            </tr></tbody>
            <thead><tr class="info">
                <th class="min-width">
                    <button class="btn btn-xs btn-default" ng-click="sectionGatherOpen = !sectionGatherOpen">
                        <i class="fa fa-fw" ng-class="{'fa-chevron-down': sectionGatherOpen, 'fa-chevron-right': !sectionGatherOpen}"></i>
                    </button>
                </th>
                <th class="min-width title">Gather</th>
                <th colspan="4">
                    <div class="progress"><div class="progress-bar" role="progressbar"
                         style="width: {{gatherProgress.percent}}%;" ng-bind="gatherProgress.display"></div>
                    </div>
                </th>
                <th class="min-width"></th>
            </tr></thead>
            <tbody ng-show="sectionGatherOpen"><tr
                    ng-repeat="dagItem in dag.list | filter:{gatherable:true,standard:false} | orderBy: 'name'"
                    data-select-callback="select" data-is-selected-callback="isSelected"
                    tr-dag-item data-dag-item="dagItem" data-item="items[dagItem.id]">
            </tr></tbody>
            <thead><tr class="info">
                <th class="min-width">
                    <button class="btn btn-xs btn-default" ng-click="sectionCraftOpen = !sectionCraftOpen">
                        <i class="fa fa-fw" ng-class="{'fa-chevron-down': sectionCraftOpen, 'fa-chevron-right': !sectionCraftOpen}"></i>
                    </button>
                </th>
                <th class="min-width title">Craft</th>
                <th colspan="4">
                    <div class="progress"><div class="progress-bar" role="progressbar"
                         style="width: {{craftProgress.percent}}%;" ng-bind="craftProgress.display"></div>
                    </div>
                </th>
                <th class="min-width"></th>
            </tr></thead>
            <tbody ng-show="sectionCraftOpen"><tr
                    ng-repeat="dagItem in dag.list | filter:{gatherable:false} | orderBy: 'craftSortOrder'"
                    data-select-callback="select" data-is-selected-callback="isSelected"
                    tr-dag-item data-dag-item="dagItem" data-item="items[dagItem.id]" data-items="items">
            </tr></tbody>
        </table>
    </div>
    <div class="col-md-5">
        <div ng-if="selectedDagItem" selected-item data-dag-item="selectedDagItem" data-item="selectedItem" data-items="items" data-craft-into="craftInto" data-select-callback="select"></div>

        <table class="table table-minimal collapsible">
            <thead ng-repeat-start="loc in locations | orderBy: 'order'"><tr ng-class="{'info':loc.isRegion,'active':!loc.isRegion}" ng-hide="!loc.isRegion && !expandedRegions[loc.region]">
                <th class="min-width" ng-if="loc.isRegion">
                    <button class="btn btn-xs btn-default" ng-click="expandedRegions[loc.region] = !expandedRegions[loc.region]">
                        <i class="fa fa-fw" ng-class="{'fa-chevron-down': expandedRegions[loc.region], 'fa-chevron-right': !expandedRegions[loc.region]}"></i>
                    </button>
                </th>
                <th ng-class="{'title': loc.isRegion}" colspan="{{loc.isRegion?4:5}}">{{loc.area}}</th>
            </tr></thead>
            <tbody ng-repeat-end>
                <tr ng-repeat="l in loc.list" ng-show="expandedRegions[loc.region]">
                    <td><i class="fa fa-fw fa-lg" ng-class="isSelected(l.dagItem)?'fa-minus-square':'fa-plus-square-o'" ng-click="select(l.dagItem)"></i></td>
                    <td><span job-level="l.job"></span></td>
                    <td><span ng-bind="l.item"></span></td>
                    <td><span ng-bind="l.name"></span></td>
                    <td><span ng-bind="l.coord"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
