<tr ng-class="{ 'active': (dagItem.selected), 'success': (!dagItem.selected && !dagItem.remaining), 'warning': (!dagItem.selected && dagItem.remaining && dagItem.final) }" class="form-inline">
    <td align="center"><p class="form-control-static">
        <i class="fa fa-fw" ng-bind="dagItem.remaining" ng-show="dagItem.remaining"></i>
        <i class="fa fa-fw fa-check" ng-hide="dagItem.remaining"></i>
    </p></td>

    <td>
        <div class="input-group input-group-sm">
            <input type="number" class="form-control" min="0" step="{{dagItem.yield || 1}}" ng-model="dagItem.userInput.obtained" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }" />
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="dagItem.userInput.obtained = dagItem.userInput.obtained + dagItem.remaining" ng-disabled="dagItem.remaining===0"><i class="fa fa-fw fa-check"></i></button>
            </span>
        </div>
    </td>

    <td><p class="form-control-static">
        <span ng-bind="dagItem.name"></span>
        <span ng-if="dagItem.yield > 1" class="label label-default">x{{dagItem.yield}}</span>
    </p></td>

    <td ng-if="!dagItem.gatherable"><p class="form-control-static radio"><label>
            <input type="radio" name="{{dagItem.name}}" value="craft" ng-model="dagItem.userInput.action" />
            <span ng-repeat="j in item.recipe.jobs" title="{{materialNameList}}" job-level="j"></span>
        </label>
    </p></td>
    <td ng-if="dagItem.gatherable && item.gather"><p class="form-control-static radio"><label>
        <input type="radio" name="{{dagItem.name}}" value="gather" ng-model="dagItem.userInput.action" />
        <span ng-repeat="j in gather" title="{{j.areas}}" job-level="j"></span>
    </label></p></td>
    <td ng-if="dagItem.gatherable && !item.gather"><p class="form-control-static">
        <i class="text-muted">cannot gather</i>
    </p></td>

    <td ng-if="item.hunt"><p class="form-control-static radio"><label>
        <input type="radio" name="{{dagItem.name}}" value="hunt" ng-model="dagItem.userInput.action" />
        <span title="{{hunt.areas}}" job-level="hunt"></span>
    </label></p></td>
    <td ng-if="!item.hunt"><p class="form-control-static">
        <i class="text-muted">cannot hunt</i>
    </p></td>

    <td ng-if="item.shop"><p class="form-control-static radio"><label>
        <input type="radio" name="{{dagItem.name}}" value="shop" ng-model="dagItem.userInput.action" />
        <span title="{{shopAreas}}"><img class="jobIcon" ng-src="static/img/jobs/BUY.png" /></span>
        <span><span ng-bind="dagItem.remaining*item.value.buy"></span>g</span>
    </label></p></td>
    <td ng-if="!item.shop"><p class="form-control-static">
        <i class="text-muted">cannot shop</i>
    </p></td>

    <td><p class="form-control-static" ng-if="selectCallback">
        <i class="fa fa-fw fa-lg" ng-class="isSelectedCallback(dagItem)?'fa-minus-square':'fa-plus-square-o'" ng-click="selectCallback(dagItem)"></i>
    </p></td>
</tr>