<div class="panel panel-default">
    <div class="panel-heading"><div class="panel-title">
        <i class="fa" ng-bind="dagItem.remaining" ng-show="dagItem.remaining" ng-class="{'fa-fw':(dagItem.remaining < 100)}"></i>
        <i class="fa fa-fw fa-check" ng-hide="dagItem.remaining"></i>
        |
        <span ng-bind="dagItem.name"></span>
        <img ng-if="dagItem.final" src="static/img/HQ_Icon.png" />

        <i class="fa fa-remove fa-pull-right text-muted" ng-click="selectCallback(dagItem)"></i>
    </div></div>
    <div class="panel-body">
        <section>
            <header><h2>Obtained</h2></header>
            <div class="input-group">
                <input type="number" class="form-control" min="0" step="{{dagItem.yield || 1}}" ng-model="dagItem.userInput.obtained" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }" />
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="dagItem.userInput.obtained = dagItem.userInput.obtained + dagItem.remaining" ng-disabled="dagItem.remaining===0"><i class="fa fa-fw fa-check"></i></button>
                </span>
            </div>
        </section>

        <section>
            <header><h2>Craft Progressions</h2></header>
            <div ng-repeat="ci in craftIntoList">
                <span ng-repeat="i in ci">
                    <label class="label label-default" ng-bind="i.name" ng-if="$first"></label>
                    <label class="label label-default" ng-bind="i.name" ng-if="!$first" ng-click="selectCallback(i.lodestoneId)"></label>
                    <i class="fa fa-arrow-right" ng-if="!$last"></i>
                </span>
            </div>
        </section>

        <section ng-if="dagItem.gatherable && dagItem.userInput.action === 'gather'">
            <header><h2>Gather Locations</h2></header>
            <table class="table table-condensed">
                <tbody>
                <tr ng-repeat="loc in item.gather">
                    <td><span job-level="loc"></span></td>
                    <td ng-bind="loc.name"></td>
                    <td ng-bind="loc.area"></td>
                    <td ng-bind="loc.coord.display"></td>
                </tr>
                </tbody>
            </table>
        </section>

        <section ng-if="dagItem.gatherable && dagItem.userInput.action === 'hunt'">
            <header><h2>Hunting Locations</h2></header>
            <table class="table table-condensed">
                <tbody>
                <tr ng-repeat="loc in item.hunt">
                    <td><span job-level="loc"></span></td>
                    <td ng-bind="loc.name"></td>
                    <td ng-bind="loc.area"></td>
                    <td ng-bind="loc.coord.display"></td>
                </tr>
                </tbody>
            </table>
        </section>

        <section ng-if="!dagItem.gatherable && dagItem.userInput.action === 'craft'">
            <header><h2>Craft Materials</h2></header>
            <table class="table table-condensed table-hover">
                <tbody>
                <tr ng-repeat="mat in item.recipe.materials" ng-click="selectCallback(mat.item)">
                    <td ng-bind="mat.count"></td>
                    <td ng-bind="items[mat.item].name"></td>
                </tr>
                </tbody>
            </table>
        </section>

        <section ng-if="dagItem.userInput.action === 'shop'">
            <header><h2>Buy</h2></header>
            <table class="table table-condensed">
                <tbody>
                <tr ng-repeat="loc in item.shop | orderBy: 'name'">
                    <td ng-bind="loc.name"></td>
                    <td ng-bind="loc.area"></td>
                    <td ng-bind="loc.coord.display"></td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>